* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Nunito";
  background-color: #2D3142;
}

body {
  font-family: "Nunito", "Rubik";
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-size: 14rem;
}

h2 {
  font-size: 8rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

.btn {
  width: 25rem;
  height: 5rem;
  background-color: #e67e22;
  color: #2D3142;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  cursor: pointer;
}
.btn:hover {
  background-color: #d86704;
  transition: all 0.5s;
  color: #F8F4F9;
}

.container {
  max-width: 130rem;
  margin: auto;
}

.eye {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 5px solid black;
  background: linear-gradient(to left, #90450D, #E8BB05, #55A917);
  display: flex;
  justify-content: center;
  align-items: center;
}
.eye .pupile {
  width: 3.2rem;
  height: 3.2rem;
  background-color: black;
  border-radius: 100%;
  position: absolute;
}

.eye::after {
  content: "";
  width: 25%;
  background-color: white;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(99%, -12%);
  z-index: 2;
  padding-bottom: 20%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0.5rem 4rem;
  align-items: center;
}
.header .mainNav {
  justify-self: flex-end;
  height: 5rem;
  text-align: right;
  align-items: center;
  display: flex;
}
.header .mainNav a {
  background-color: #2D3142;
  color: #F8F4F9;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 2.5rem;
}
.header .mainNav a:hover {
  color: #EF8354;
  transition: all 0.8s;
}
.header .mainNav a.selected {
  color: #EF8354;
}

.zero {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.zero .main {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 5rem;
}
.zero .main .side-section .person-image img {
  align-self: center;
  margin: auto;
  width: 40rem;
  border-radius: 50% 20%/10% 40%;
}
.zero .main .side-section .social-media {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 8px solid #F8F4F9;
  border-radius: 20px;
  padding: 1rem 0;
}
.zero .main .side-section .social-media .social {
  width: 8rem;
  height: 8rem;
  filter: invert(66%) sepia(75%) saturate(3581%) hue-rotate(351deg) brightness(97%) contrast(85%);
}
.zero .main .side-section .social-media .social:hover {
  filter: invert(91%) sepia(72%) saturate(2802%) hue-rotate(184deg) brightness(117%) contrast(95%);
  transition: all 0.2s;
}
.zero .main .presentation {
  display: block;
}
.zero .main .presentation div.title {
  margin-bottom: 1.5rem;
}
.zero .main .presentation div.title h1 {
  margin-bottom: 4rem;
  color: #e67e22;
}
.zero .main .presentation div.title h2 {
  margin-bottom: 0.5rem;
  color: #F8F4F9;
}
.zero .main .presentation div.title p {
  color: #F8F4F9;
}
.zero .main .presentation div.content {
  font-size: 3rem;
  line-height: 1.6;
  color: #808F85;
}
.zero .animated-text {
  color: #F8F4F9;
  margin-bottom: 5rem;
  display: flex;
  font-size: 10rem;
  gap: 10px;
}
.zero .animated-text bold {
  color: #e67e22;
}
.zero .animated-text bold.back {
  color: #048BA8;
}
.zero .animated-text bold.sass {
  color: #058C42;
}
.zero .animated-text .bar {
  border: 5px solid #058C42;
  width: 1px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.8s;
  -webkit-animation-name: cursor;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-transition-property: -moz-transform;
  -moz-animation-name: cursor;
  -moz-animation-duration: 0.8s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: transform;
  animation-name: cursor;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes cursors {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.resume {
  background-color: #F8F4F9;
  color: #2D3142;
  padding: 5rem 0;
}
.resume .roadmap {
  font-size: 1.8rem;
  margin: 4rem 0;
}
.resume .roadmap .road-row {
  display: flex;
}
.resume .roadmap .road-row .experience {
  line-height: 1.5;
  width: 80rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.7);
  background-color: #2D3142;
  color: #F8F4F9;
  margin-bottom: 6rem;
  padding: 2rem 2rem;
  border-radius: 12px;
}
.resume .roadmap .road-row .experience .title {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.resume .roadmap .road-row .experience .basic {
  display: inline-block;
  background-color: #2D3142;
  color: #F8F4F9;
  border-radius: 12px;
  padding: 1rem;
}
.resume .roadmap .road-row .experience .basic bold {
  color: #EF8354;
}
.resume .roadmap .road-row .experience .description {
  margin-top: 1rem;
  display: none;
  color: #F8F4F9;
  font-weight: 400;
  line-height: 1.6;
}
.resume .roadmap .road-row .experience .description.active {
  display: block;
}
.resume .roadmap .road-row .experience.right {
  text-align: right;
}
.resume .roadmap .road-row .road {
  width: 40rem;
  margin: auto;
}
.resume .roadmap .road-row .road .line {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}
.resume .roadmap .road-row .road .line .dot {
  width: 5rem;
  height: 2rem;
  background-color: #2D3142;
}
.resume .roadmap .road-row .road .line.col {
  flex-direction: column;
  align-items: end;
}
.resume .roadmap .road-row .road .line.col .dot {
  height: 5rem;
  width: 2rem;
}
.resume .roadmap .road-row .road.left .line.col {
  align-items: start;
}
.resume .road-right {
  background-color: #F8F4F9;
}

.portfolio {
  margin: 5rem auto;
  color: #EF8354;
}
.portfolio .main {
  margin-top: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 10rem;
}
.portfolio .main div.card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  transition: all 0.5s;
}
.portfolio .main div.card > img {
  height: 20rem;
  border-radius: 12px 12px 0 0;
}
.portfolio .main div.card .main-content {
  margin: 1.5rem 1.5rem;
}
.portfolio .main div.card .main-content h3 {
  color: #e67e22;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.portfolio .main div.card .main-content .technologies {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.portfolio .main div.card .main-content .technologies img {
  width: 3rem;
  height: 3rem;
  filter: invert(91%) sepia(72%) saturate(2802%) hue-rotate(184deg) brightness(117%) contrast(95%);
}
.portfolio .main div.card .main-content .description {
  color: #F8F4F9;
  font-size: 2rem;
  line-height: 1.4;
}
.portfolio .main div.card .main-content .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.portfolio .main div.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(230, 126, 34, 0.7);
  transition: all 0.5s;
}

.skills-section h2 {
  color: white;
  margin-bottom: 2rem;
}
.skills-section .skills {
  display: flex;
  gap: 7rem;
  margin-bottom: 2rem;
}
.skills-section .skills.small {
  display: none;
}
.skills-section .skills.column {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 2rem;
}
.skills-section .skills .section.white img {
  filter: invert(91%) sepia(72%) saturate(2802%) hue-rotate(184deg) brightness(117%) contrast(95%);
}
.skills-section .skills .section .title {
  font-size: 3rem;
  color: #e67e22;
  margin-bottom: 1rem;
}
.skills-section .skills .section .skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 1rem 0.6rem;
}
.skills-section .skills .section .skill p {
  font-size: 2rem;
  color: #F8F4F9;
}
.skills-section .skills .section .skill img {
  width: 3rem;
  height: 3rem;
}
.skills-section .skills .section .skill img.normal {
  filter: none;
}
.skills-section .skills.column {
  flex-direction: column;
}

.footer {
  display: flex;
  margin-bottom: 2rem;
  padding: 0 2rem;
  justify-content: space-between;
}
.footer .content {
  color: #2D3142;
  background-color: #F8F4F9;
  border-radius: 15px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.footer .content h5 {
  font-size: 1.5rem;
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84rem) {
  .container {
    max-width: 100rem;
  }
  .zero .main .presentation div.content {
    font-size: 2.5rem;
  }
  .resume {
    padding: 2.5rem;
  }
  .resume .roadmap {
    margin: 2rem 0;
  }
  .portfolio .main {
    column-gap: 3rem;
  }
  .portfolio .main div.card {
    width: 25rem;
  }
  .portfolio .main div.card .main-content h3 {
    font-size: 2.7rem;
  }
  .portfolio .main div.card .main-content .description {
    font-size: 1.7rem;
  }
  .skills-section .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 3rem;
  }
  .skills-section .skills.small {
    display: block;
  }
  .skills-section .skills .section.normal {
    display: none;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75rem) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .portfolio .main {
    justify-items: center;
  }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 60em) {
  .container {
    max-width: 80rem;
  }
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .zero .main .side-section .person-image img {
    width: 25rem;
  }
  .zero .main .side-section .social-media {
    border-width: 5px;
    margin-top: 3rem;
  }
  .zero .main .side-section .social-media .social {
    width: 6rem;
    height: 6rem;
  }
  .resume .container.small {
    max-width: 100rem;
  }
  .resume .container.small .roadmap {
    font-size: 2rem;
  }
  .resume .container.small .roadmap .road {
    display: none;
  }
  .resume .container.small .roadmap .road-row {
    align-items: center;
    justify-content: center;
  }
  .resume .container.small .roadmap .road-row .experience {
    width: 80%;
    padding: 2rem 3rem;
  }
  .resume .container.small .roadmap .road-row .experience .title {
    font-size: 2.4rem;
    text-align: center;
  }
  .portfolio .main {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .main div.card {
    width: 30rem;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 48em) {
  h1 {
    font-size: 10rem;
  }
  h2 {
    font-size: 6rem;
  }
  .container {
    max-width: 70rem;
  }
  .zero .main {
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .zero .main .side-section {
    max-width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
  .zero .main .side-section .person-image img {
    width: 20rem;
  }
  .zero .main .side-section .social-media {
    gap: 2rem;
    padding: 1.5rem 2rem;
  }
  .zero .main .side-section .social-media img.social {
    width: 6rem;
    height: 6rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .container {
    max-width: 50rem;
  }
  .portfolio .main {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills-section .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 27em) {
  .container {
    max-width: 40rem;
  }
  .zero .main {
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .zero .main .side-section {
    max-width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
  .zero .main .side-section .person-image img {
    width: 15rem;
  }
  .zero .main .side-section .social-media {
    gap: 1rem;
    padding: 1.5rem 2rem;
  }
  .zero .main .side-section .social-media img.social {
    width: 4rem;
    height: 4rem;
  }
  .skills-section .skills {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills-section .skills .section .skill {
    font-size: 2.5rem;
    margin: 0 2rem 1.2rem;
  }
  .skills-section .skills .section .skill img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
