

// icons https://www.svgrepo.com/svg/27103/framework
// colors https://coolors.co/
$coral: #EF8354;
// $strong-coral: #db6431;
$strong-coral: #e67e22;
$stronger-coral: #d86704;
$gunmetal: #2D3142;
$ghost_white: #F8F4F9;
$blue_grey: #6699CC;
$slate_grey: #718F94;
$battleship-grey: #808F85;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  // overflow-x: hidden;
  font-family: 'Nunito';
  background-color: $gunmetal;

}


body {
  font-family: "Nunito", "Rubik" ;
  line-height: 1;
  font-weight: 400;
  // overflow-x: hidden;
}

// HTML tags
h1{
  font-size: 14rem;
}

h2{
  font-size: 8rem;
}

h3{
  font-size: 5rem;
}
h4{
  font-size: 3rem;
}

a{
  text-decoration: none;
}

// REUSABLE

.btn{
  // margin: 1rem auto;
  width: 25rem;
  height: 5rem;
  background-color: $strong-coral;
  color: $gunmetal;
  font-size: 2rem;
  font-weight:600;
  border-radius: 9px;
  cursor: pointer;
  &:hover{
    // background-color: $gunmetal;
    // border: 2px solid $strong-coral;
    // color: $strong-coral;
    background-color: $stronger-coral;
    transition: all 0.5s;
    color: $ghost_white;

  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  top: 20px;
  left: 20 px;
  margin: 2rem;
  height: 3rem;
  width: 7rem;
  border-radius: 8px;
  text-align: center;
  opacity: 50%;
  margin-right: auto;
  cursor: pointer;
  p {
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  background-color: $coral;
  color: $ghost_white;

}

// .sticky{
//   position: -webkit-sticky;
//   position: sticky;
//   top: 20px;
//   background-color: $gunmetal;
//   margin: 0;
// }



.container{
  max-width: 130rem;
  // padding: 0 3.2rem;
  margin: auto;
}

.eye {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  border: 5px solid black;
  background: linear-gradient(to left, #90450D, #E8BB05, #55A917);
  display: flex;
  justify-content: center;
  align-items: center;
  .pupile {
    width: 3.2rem;
    height: 3.2rem;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    // margin: auto;
    // padding: auto;
    
    
  }
}
.eye::after{
  content: "";
  width: 25%;
  background-color: white;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(99%, -12%);
  z-index: 2;
  padding-bottom: 20%;
}

// HEADER

.header{
  
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0.5rem 4rem;
  align-items: center;
  // border-bottom: 1px solid #2D3142 ;
  
  .mainNav{
    // margin: auto;
    justify-self: flex-end;
    // margin-top: 5rem;
    // margin-bottom: 3rem;
    height: 5rem;
    text-align: right;
    align-items: center;
    display: flex;
    
    a {
      
      background-color: $gunmetal;
      color: $ghost_white;
      margin: 1rem;
      padding: 1rem;
      border-radius: 10px;
      font-size: 2.5rem;
    }
    
    a:hover{
      color: $coral;
      transition: all 0.8s;
    }
    a.selected{
      // background-color: $coral;
      // border: 4px solid black;
      // color: $ghost_white;
      color: $coral;
    }
    
  }
}




// SECTION 1: PRESENTATION

.zero {
  margin-top: 1rem;
  margin-bottom: 5rem;
  .main{
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 5rem;
    .side-section{
      .person-image img{
        align-self: center;
        margin: auto;
        width: 40rem;
        // height: ;
        border-radius: 50% 20% / 10% 40%;
      }
  
      .social-media{
        margin-top: 5rem;
        display: flex;
        // gap: 2rem;
        align-items: center;
        justify-content: space-around;
        border: 8px solid $ghost_white;
        border-radius: 20px;
        padding: 1rem 0;
        .social{
            width: 8rem;
            // display: block;
            height: 8rem;
            filter: invert(66%) sepia(75%) saturate(3581%) hue-rotate(351deg) brightness(97%) contrast(85%);
            
        }
  
        .social:hover{
          filter: invert(91%) sepia(72%) saturate(2802%) hue-rotate(184deg) brightness(117%) contrast(95%);
          transition: all 0.2s;
        }
      }
    }
    
    .presentation{
      display: block;
      
      div.title{
        margin-bottom: 1.5rem;
        h1{
          margin-bottom: 4rem;
          color: $strong-coral;
        }
        .animated{
          display: flex;

          h2{
            margin-bottom: 0.5rem;
            color: $ghost_white;
            padding-right: 5px;
            // border-color: $gunmetal;

            border-right: 5px solid $ghost_white;
            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 0.8s;
            -webkit-animation-name: cursor;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            
            -moz-transition-property: -moz-transform;
            -moz-animation-name: cursor; 
            -moz-animation-duration: 0.8s; 
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            
            transition-property: transform;
            animation-name: cursor; 
            animation-duration: 0.8s; 
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
        p {
          color: $ghost_white;
        }
      }
      div.content{
          font-size: 3rem;
          line-height: 1.6;
          color: $battleship-grey;
      }
    }
  }
  .animated-text{
    color: $ghost_white;
    margin-bottom: 5rem;
    display: flex;
    font-size: 10rem;
    // display: inline-block;
    // h1{
    //   display: inline;
    // }
    gap: 10px;
    bold{
      color: $strong-coral;
      &.back{
        color: #048BA8;
      }

      &.sass{
        // color: #048BA8;
        // color: #2E4057;
        color: #058C42;
      }
    }

  }

}

@-webkit-keyframes cursor {
  from {border-color: inherit;}
  to {border-color: $gunmetal;}
}

@-moz-keyframes cursors {
  from {border-color: inherit;}
  to {border-color: $gunmetal;}
  // from {-moz-transform: rotate(0deg);}
  // to {-moz-transform: rotate(360deg);}
}

@keyframes cursor {
  from {border-color: inherit;}
  to {border-color: $gunmetal;}
  // from {transform: rotate(0deg);}
  // to {transform: rotate(360deg);}
}




// SECTION 2: RESUMEN

.resume{
  background-color: $ghost_white;
  color: $gunmetal;
  padding: 5rem 0;
  .roadmap{
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    font-size: 1.8rem;
    margin: 4rem 0;
    // color: $ghost_white;
    .road-row{
      display: flex;
      .experience{
        line-height: 1.5;
        width: 80rem;
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.700);
        // padding: 0 2rem;
        background-color: $gunmetal;
        color: $ghost_white;
        margin-bottom: 6rem;
        padding: 2rem 2rem;
        border-radius: 12px;
        .title{
          font-size: 2.1rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .basic{
          display: inline-block;
          background-color: $gunmetal;
          color: $ghost_white;
          // width: 50rem;
          border-radius: 12px;
          // padding: 1rem 3rem;
          padding: 1rem;
          bold{
            color: $coral;
          }

        }
        .description{
          margin-top: 1rem;
          display: none;
          // text-align: justify;
          color: $ghost_white;
          font-weight: 400;
          line-height: 1.6;
          // letter-spacing: 1;
          &.active{
            display: block;
          }
        }

        &.right{
          text-align: right;
        }
      }
      .road{
        width: 40rem;
        // z-index: 5;
        // display: flex;
        // align-items: center;
        margin: auto;
        .line {
          display: flex;
          align-items: center;
          gap: 5px;
          // overflow: hidden;
          .dot{
            width: 5rem;
            height: 2rem;
            background-color: $gunmetal;
            // &:nth-last-child(){
            //   // rot
            // }
          }

          &.col {
            flex-direction: column;
            // justify-content: ;
            align-items: end;
            .dot{
              height: 5rem;
              width: 2rem;
            }
          
          }

        }

        &.left {
          .line.col{
            align-items: start;
          }
        }
      }
      
    }
    // .logo{
    //   width: 20rem;
    //   background-color: $ghost_white;
    // }
  }

  .road {
    &-right{
      background-color: $ghost_white;
    }
  }
}

// SECTION 3: PORTFOLIO
.portfolio{
  margin: 5rem auto;
  color: $coral;
  .main{
    margin-top: 2rem;
    display: grid;
    // justify-content: space-between;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 10rem;
    
    div.card {
      display: flex;
      flex-direction: column;
      width: 30rem;
      box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.700);
      border-radius: 12px;
      // height: 53rem;
      transition: all 0.5s;
      > img {
        height: 20rem;
        border-radius: 12px 12px 0 0;
      }
      .main-content {
        margin: 1.5rem 1.5rem;
        // height: 100%;
        // display: flex;
  
          h3 {
            color: $strong-coral;
            margin-bottom: 2rem;
            font-size: 3rem;
          }
  
          .technologies  {
            margin-bottom: 2rem;
            display: flex;
            // align-items: center;
            // margin: 0 auto
            justify-content:center;
  
            gap: 2rem;
            img {
              width: 3rem;
              height: 3rem;
              // stroke: $ghost_white;
              filter: invert(91%) sepia(72%) saturate(2802%) hue-rotate(184deg) brightness(117%) contrast(95%);
            }
          }
        .description {
            color: $ghost_white;
            font-size: 2rem;
            line-height: 1.4;
        }
  
        .btn{
          // margin: auto;
          margin: 1rem 0;
          width: 100%;
          // justify-content: center;
          text-align: center;
          // margin: 0 auto;
          // margin: 1rem 1rem;
        }
      }
      &:hover{
        transform: translateY(-1.2rem);
        box-shadow: 0 3.2rem 6.4rem rgba(230, 126, 34, 0.700);
        transition: all 0.5s;
      }
    }
  }
}

// SECTION 4: SKILLS
.skills-section{
  h2{
    color: white;
    margin-bottom: 2rem;
  }
  .skills{
    &.small{
      display: none;
    }
    display: flex;
    gap: 7rem;
    margin-bottom: 2rem;
    &.column{
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: 2rem;
    }
    .section{
      &.white {
        img {
            filter: invert(91%) sepia(72%) saturate(2802%) hue-rotate(184deg) brightness(117%) contrast(95%);;
        }
      }
      .title{
        font-size: 3rem;
        color: $strong-coral;
        margin-bottom: 1rem;
      }
      .skill {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        // margin-bottom: 0.5rem;
        margin: 0 1rem 0.6rem;
        p{
          font-size: 2rem;
          color: $ghost_white;
        }
        img{
          width: 3rem;
          height: 3rem;
  
          &.normal {
            filter:none;
          }
          
        }
      }
    }
    &.column {
      flex-direction: column;
    }
  }
}


.footer{
  display: flex;
  margin-bottom: 2rem;
  // align-items: ;
  // justify-content: ;
  padding: 0 2rem;
  justify-content: space-between;
  .content {
    h5 {
      font-size: 1.5rem;
    }
    color: $gunmetal;
    background-color: $ghost_white;
    border-radius: 15px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

  }
}


/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84rem) {
  .container{
    max-width: 100rem;
  }

  .zero {
    .main{ 
      .presentation {
        div.content{
          font-size: 2.5rem;

        }

      }
    }
  }

  .resume{
    padding: 2.5rem;
    .roadmap{
      margin: 2rem 0;
    }
  }

  .portfolio{
    .main {
      // grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      div.card {
        width: 25rem;
        .main-content{
          h3{
            font-size: 2.7rem;
          }
          .description{
            font-size: 1.7rem;
          }
        }
      }
    }
  }

  .skills-section{
    .skills{
      &.small{
        display: block;
      }
      .section.normal{
        display: none;
      }
      display: grid;
      grid-template-columns: repeat(3,1fr);
      row-gap: 2rem;
      column-gap: 3rem;
    }
  }

}


/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75rem) {

  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .portfolio .main{
    justify-items: center;
  }

}


/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 60em) {

  .container{
    max-width: 80rem;
  }

  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  // .container{
  //   max-width: 10rem;
  // }
  .zero .main .side-section{
    .person-image img{
      width: 25rem;
      // height: ;
    }

    .social-media{
      border-width: 5px;
      margin-top: 3rem;
      .social{
        width: 6rem;
        height: 6rem;
      }
    }

  }

  .resume {
    .container.small{
      max-width: 100rem;

      .roadmap{
        font-size: 2rem;
        .road{
          display: none;
        }
        .road-row {
          align-items: center;
          justify-content: center;
          .experience{
            width: 80%;
            padding: 2rem 3rem;
            .title{
              font-size: 2.4rem;
              // margin: auto;
              text-align: center;
              
            }
          }
        }
      }
    }
  }

  .portfolio {
    .main{
      grid-template-columns: repeat(2, 1fr);
      div.card{
        width: 30rem;
      }
    }
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 48em) {
  h1{
    font-size: 10rem;
  }

  h2{
    font-size: 6rem;
  }
  .container{
    max-width: 70rem;
  }
  .zero .main{
    gap: 3rem;
    flex-direction: column;
    align-items: center;

    .side-section{
      max-width: 70rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;
      .person-image img{
        width: 20rem;
      }
      .social-media{
        gap: 2rem;
        padding: 1.5rem 2rem;
        img.social  {
          width: 6rem;
          height: 6rem;
        }
      }
    }
  }
}


/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .container{
    max-width: 50rem;
  }

  .portfolio .main {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills-section .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 27em) {
  .container{
    max-width: 40rem;
  }

  .zero .main{
    gap: 3rem;
    flex-direction: column;
    align-items: center;

    .side-section{
      max-width: 70rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;
      .person-image img{
        width: 15rem;
      }
      .social-media{
        gap: 1rem;
        padding: 1.5rem 2rem;
        img.social  {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }

  .skills-section .skills {
    grid-template-columns: repeat(1, 1fr);
    .section .skill {
      font-size: 2.5rem;
      margin: 0 2rem 1.2rem;
      img {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
}

// SECTION 5: CONTACT (FOOTER)